<form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">
  <div nz-form-item>
    <div nz-form-label>
      <label for="currentPassword">Current Password</label>
    </div>
    <div nz-form-control nzErrorTip="Please input your current password!">
      <input
        id="currentPassword"
        formControlName="currentPassword"
        type="password"
        nz-input
      />
    </div>
  </div>

  <div nz-form-item>
    <div nz-form-label>
      <label for="newPassword">New Password</label>
    </div>
    <div nz-form-control nzErrorTip="Please input your new password!">
      <input
        id="newPassword"
        formControlName="newPassword"
        type="password"
        nz-input
      />
    </div>
  </div>

  <div nz-form-item>
    <div nz-form-label>
      <label for="confirmPassword">Confirm New Password</label>
    </div>
    <div nz-form-control nzErrorTip="Please confirm your new password!">
      <input
        id="confirmPassword"
        formControlName="confirmPassword"
        type="password"
        nz-input
      />
    </div>
  </div>

  <div nz-form-item>
    <div nz-form-control>
      <button nz-button nzType="primary" type="submit">Change Password</button>
    </div>
  </div>
</form>
