<ul nz-menu nzMode="horizontal" style="justify-content: center">
  <li nz-menu-item nzSelected>
    <a routerLink="/home">
      <span nz-icon nzType="home" nzTheme="outline"></span> Home
    </a>
  </li>
  <li nz-submenu nzTitle="Category" nzIcon="shop">
    <ul>
      <li nz-menu-item>Acer</li>
      <li nz-menu-item>Asus</li>
      <li nz-menu-item>MSI</li>
      <li nz-menu-item>Lenovo</li>
      <li nz-menu-item>Dell</li>
      <li nz-menu-item>Gigabyte</li>
      <li nz-menu-item>HP</li>
    </ul>
  </li>
  <li nz-menu-item>New</li>
  <li nz-menu-item>Recently View</li>
</ul>
