<header id="header" class="ant-header">
  <div nz-row class="ant-row">
    <div nz-col class="web-icon">
      <a routerLink="/">
        <img
          src="../../../assets/logo/logo.gif"
          alt="Page Logo"
          width="70"
          height="70"
        />
        <strong class="logo-title">Best Deals</strong>
      </a>
    </div>
    <div nz-col class="search-container">
      <app-search-box></app-search-box>
    </div>
    <div nz-col class="user-container">
      <span nz-icon nzType="user" class="user" nzTheme="outline"></span>
    </div>
  </div>
</header>
