<footer class="footer">
  <div class="footer-container">
    <div class="links">
      <span>
        <a href="">Home</a> | <a href="">Privacy Policy</a> |
        <a href="">Terms of Service</a>
      </span>
    </div>
    <div class="social-icons">
      <span nz-icon nzType="facebook" nzTheme="outline" routerLink=""> </span>
      <span nz-icon nzType="youtube" nzTheme="outline"> </span>
    </div>
    <div class="copyright">
      <span>&copy; 2023 Fumi</span>
    </div>
  </div>
</footer>
