<div class="product-detail">
  <div nz-row nzGutter="16">
    <div nz-col nzSpan="10" class="product-image">
      <img *ngIf="imageUrl" [src]="imageUrl" alt="Loaded Image" />
    </div>
    <div nz-col nzSpan="6" class="product-links">
      <span>{{ product.productName }}</span>
    </div>
  </div>

  <div class="tab-set">
    <nz-tabset>
      <nz-tab
        nzTitle="Price Comparison"
        (nzClick)="ScrollIntoView('price-comparison')"
      >
      </nz-tab>
      <nz-tab
        nzTitle="Product Description"
        (nzClick)="ScrollIntoView('product-description')"
      >
      </nz-tab>
    </nz-tabset>
  </div>

  <div id="price-comparison">
    <nz-descriptions nzTitle="Price Comparison">
      <nz-descriptions-item>
        <nz-list nzBordered>
          <nz-list-item *ngFor="let price of product?.prices">
            <a href="{{ price.key }}" target="_blank">
              <mark>{{ price.key }}</mark>
            </a>
            <span nz-typography>
              {{ price.value }}
            </span>
          </nz-list-item>
        </nz-list>
      </nz-descriptions-item>
    </nz-descriptions>
  </div>

  <div id="product-description">
    <nz-descriptions nzTitle="Product Description" nzBordered>
      <ng-container *ngFor="let desc of product?.description">
        <nz-descriptions-item>
          {{ desc }}
        </nz-descriptions-item>
      </ng-container>
    </nz-descriptions>
  </div>
</div>
