<div class="product-detail">
  <div nz-row>
    <div nz-col nzSpan="6" class="product-image">
      <img src="" alt="Product Image" width="300" height="300" />
    </div>

    <div nz-col nzSpan="18" class="product-links">
      <div nz-row [nzGutter]="16">
        <div nz-col><app-product-card></app-product-card></div>
        <div nz-col><app-product-card></app-product-card></div>
        <div nz-col><app-product-card></app-product-card></div>
        <div nz-col><app-product-card></app-product-card></div>
        <div nz-col><app-product-card></app-product-card></div>
      </div>
    </div>
  </div>

  <div class="tab-set">
    <nz-tabset>
      <nz-tab
        nzTitle="Price Comparison"
        (nzClick)="ScrollIntoView('price-comparison')"
      >
      </nz-tab>
      <nz-tab
        nzTitle="Product Description"
        (nzClick)="ScrollIntoView('product-description')"
      >
      </nz-tab>
    </nz-tabset>
  </div>

  <div id="price-comparison">
    <nz-descriptions nzTitle="Price Comparison" nzBordered>
      <nz-descriptions-item>
        <nz-list nzBordered nzHeader="Header" nzFooter="Footer">
          <nz-list-item *ngFor="let price of product?.prices">
            <span nz-typography>
              <a href="{{ price.key }}" target="_blank">
                <mark>{{ price.key }}</mark>
              </a>
              {{ price.value }}
            </span>
          </nz-list-item>
        </nz-list>
      </nz-descriptions-item>
    </nz-descriptions>
  </div>

  <div id="product-description">
    <nz-descriptions nzTitle="Product Description" nzBordered>
      <ng-container *ngFor="let desc of product.description">
        <nz-descriptions-item>
          {{ desc }}
        </nz-descriptions-item>
      </ng-container>
    </nz-descriptions>
  </div>
</div>
