.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}

.logo {
  height: 1.5rem;
  background: rgba(255, 255, 255, 0.2);
  margin: 1rem;
}

nz-header {
  background: #fff;
  margin: 1rem 0;
  padding: 0 0.5rem;
}

nz-content {
  margin: 0 1rem;
}

.inner-content {
  padding: 1.5rem;
  background: #fff;
  min-height: 360px;
}
