<div class="search-container">
  <div class="breadcrumb-container">
    <nz-breadcrumb>
      <nz-breadcrumb-item>
        <a [routerLink]="['../home']">Home</a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>Item Name</nz-breadcrumb-item>
    </nz-breadcrumb>
  </div>
  <div nz-row>
    <div nz-col nzSpan="4" class="side-menu-container">
      <app-side-menu></app-side-menu>
    </div>
    <div nz-col nzSpan="20" class="products-listing-container">
      <nz-card *ngFor="let product of searchResults">
        <p>{{ product.productName }}</p>
        <p>{{ product.description }}</p>
        <nz-card *ngFor="let price of product.prices">
          <p>{{ price.value }}</p>
          <a href="{{ price.key }}">{{ price.key }}</a>
        </nz-card>
      </nz-card>
    </div>
  </div>
</div>
