.title {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
  margin: 1.5rem;
  display: block;
  text-align: center;
}

.add-model-button {
  margin-bottom: 1rem;
  float: right;
}

.delete-button {
  margin-left: 0.5rem;
}

.filter-button {
  margin-left: 0.5rem;
}

a {
  margin-right: 0.5rem;
}

nz-table {
  table-layout: fixed;
}

.fixed-row-height {
  height: 50px;
  overflow: hidden;
  white-space: nowrap;
}

.word-wrap {
  white-space: normal;
  word-wrap: break-word;
  overflow: hidden;
}

.model-type-container {
  display: flex;
  gap: 0.5rem;
}

.model-type-container input {
  flex: 1;
  min-width: 0;
}

.search-box {
  padding: 8px;
}

.search-box input {
  width: 188px;
  margin-bottom: 8px;
  display: block;
}

.search-box button {
  width: 90px;
}

.search-button {
  margin-right: 8px;
}
