<div class="category-container">
  <div class="breadcrumb-container">
    <nz-breadcrumb>
      <nz-breadcrumb-item>
        <a [routerLink]="['/home']">Home</a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>{{ categoryName }}</nz-breadcrumb-item>
    </nz-breadcrumb>
  </div>
  <div class="title-container">
    <nz-page-header
      class="site-page-header"
      (nzBack)="onBack()"
      nzBackIcon
      [nzTitle]="categoryName"
      nzSubtitle="{{ categoryName }} Products"
    ></nz-page-header>
  </div>
  <div class="products-listing-container">
    <app-category-listing [category]="categoryName"></app-category-listing>
  </div>
</div>
