<div class="home-container">
  <div class="banner-container">
    <app-banner></app-banner>
  </div>

  <div nz-row class="featured-deals-container">
    <div nz-col nzSpan="8">
      <app-featured-deals></app-featured-deals>
    </div>
    <div nz-col nzSpan="8">
      <app-featured-deals></app-featured-deals>
    </div>
    <div nz-col nzSpan="8">
      <app-featured-deals></app-featured-deals>
    </div>
  </div>

  <div class="featured-products-container">
    <app-featured-products></app-featured-products>
  </div>

  <div class="products-listing-container">
    <app-products-listing></app-products-listing>
    <app-products-listing></app-products-listing>
    <app-products-listing></app-products-listing>
    <app-products-listing></app-products-listing>
    <app-products-listing></app-products-listing>
  </div>
</div>
