<div class="product-card" (click)="navigateToProduct(product._id)">
  <nz-card [nzCover]="coverTemplate">
    <nz-card-meta
      [nzTitle]="titleTemplate"
      [nzDescription]="descriptionTemplate"
    ></nz-card-meta>
    <div class="availability">
      <span nz-icon nzType="shopping-cart" nzTheme="outline"></span>
      Available at {{ product.prices.length }} place(s)
    </div>
    <div class="price" *ngIf="lowestPrice !== undefined">
      From {{ lowestPrice | customCurrency : "VND" : "vi-VN" }}
    </div>
  </nz-card>
  <ng-template #coverTemplate>
    <img class="product-image" *ngIf="imageUrl" [src]="imageUrl" alt="Loaded Image" />
  </ng-template>
  <ng-template #titleTemplate>
    <div class="nz-card-meta-title">
      {{ product?.productName }}
    </div>
  </ng-template>
  <ng-template #descriptionTemplate>
    <div class="product-description">
      <nz-row [nzGutter]="20">
        <nz-col *ngFor="let desc of product?.description" [nzSpan]="11">
          <div class="description-item">{{ desc }}</div>
        </nz-col>
      </nz-row>
    </div>
  </ng-template>
</div>
